NEXT_PUBLIC_SITE_URL="https://zubroservices.com"
NEXT_PUBLIC_PHONE="(425) 542-2707"
NEXT_PUBLIC_PHONE_TEL="+14255422707"
NEXT_PUBLIC_EMAIL="homes@zubroservices.com"

LEAD_RECIPIENT_EMAIL="homes@zubroservices.com"
LEAD_FROM_EMAIL="leads@zubroservices.com"

RESEND_API_KEY=""
